
.name{
    border: 1px solid whitesmoke;
    width: 50%;
    padding: 1rem 2rem 0.5rem 2rem;
    font-size: 12px;
    background-color:white;
    text-align: center;
    font-weight: bold;
    color: black;
    border-radius: 5%;
}
.image{
    border: 1px solid white;
    height: 100px;
    width: 120px;
    border-radius: 150%;
}
.exp{
    color: darkblue;
}