.header{
    background-color: aliceblue;
}
.navOption{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: medium;
    color:blue;
    background-color: aquamarine;
}
.menu{
    display: flex;
    font-size: 5rem;
    color:skyblue;
  
}


